.home-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  font-weight: 900;
}

.record {
  max-width: 50%;
  max-height: 50%;
  transition-duration: 1s;
  overflow: hidden;
}

/* .record:hover {
  transform: rotate(90deg);
} */

.home-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: rgb(0, 0, 0);
}

.home-left h1 {
  font-size: 3rem;
}

.home-main button {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #fed142;
  border: 3px solid white;
  color: white;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.home-main button:hover {
  background-color: white;
  color: #fed142;
}

@media only screen and (max-width: 1100px) {
  .home-main {
    padding-top: 20vh;
    gap: 5vh;
  }
}
