.home-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-weight: 900;
  height: 90vh;
}

.record {
  max-width: 75%;
  max-height: 75%;
  transition-duration: 1s;
  overflow: hidden;
}

.record:hover {
  transform: rotate(90deg);
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: rgb(0, 0, 0);
}

.home-left h1 {
  font-size: 3rem;
}

.home-main button {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #fed142;
  border: 3px solid white;
  color: white;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.home-main button:hover {
  background-color: white;
  color: #fed142;
}

@media screen and (max-width: 600px) {
  .home-main {
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
    height: 70vh;
    text-align: center;
  }

  .home-left h1 {
    font-size: 2rem;
  }

  .home-main a {
    font-size: 1rem;
  }
}
